[Database]
# These items will be combined into a dsn
# It is possible to delete items which aren't needed
host = host
port = port
dbname = dbname
user = user
password = password

[Spotify]
client_id = XXXXXXXXXXXXXX
client_secret = XXXXXXXXXXXXXX
refresh_token = XXXXXXXXXXXXXX